---
import Layout from '../layouts/Layout.astro';
import Cta from '../components/Cta.astro';
---

<Layout title="Dot Dager.">
	<main class="flex flex-col gap-32">
		<section class="flex justify-between mt-16 mb-64 gap-4">
			<div class="flex flex-col gap-4">
				<h1 class="text-5xl text-text font-bold leading-tight">Full-stack/Lead dev.<br />Content Creator.<br/>Crappy Joke Connoisseur.</h1>
				<h2 class="text-lg text-text/85 font-semibold max-w-[48ch]">With almost a decade of experience, I’m that missing ingredient your SOLID projects need and your teams would love to have.</h2>
				<Cta anchor="#contact" text="CONTACT"/>
			</div>
			<div>
				<img class="block w-full object-cover" src="./Hero.png" alt="Dot Dager's social media profile picture">
			</div>
		</section>
		<section class="flex gap-6">
			<div class="grid grid-cols-3 gap-4">
				<div class="relative">
					<img class="block w-full h-full object-cover max-h-[300px] rounded-lg" src="./kitties.webp" alt="a cat scared of cucumbers">
					<span class="absolute bottom-4 left-4 text-white text-4xl font-bold">Kitties :D</span>
				</div>
				<div class="relative">
					<img class="block w-full h-full object-cover max-h-[300px] rounded-lg" src="./dager-guitarra.webp" alt="Dot Dager playing his guitar">
					<span class="absolute bottom-4 left-4 text-white text-4xl font-bold">Creativity</span>
				</div>
				<div class="relative">
					<img class="block w-full h-full object-cover max-h-[300px] rounded-lg" src="./epicteto.webp" alt="greek philosopher, Epictetus">
					<span class="absolute bottom-4 left-4 text-white text-4xl font-bold">Philosophy</span>
				</div>
				<div class="relative col-span-3">
					<img class="block w-full h-full object-cover max-h-[300px] rounded-lg" src="./dager-en-boxer.webp" alt="Dot Dager sitting in his gaming chair in underwear, doing a silly pose">
					<span class="absolute bottom-4 left-4 text-white text-4xl font-bold">Making coding<br/><span class="text-primary italic">humane</span> again</span>
				</div>
			</div>
			<div class="flex flex-col gap-4 mt-16">
				<div class="mb-2">
					<img src="./Dawn.svg" alt=" ">
				</div>
				<p class="text-2xl text-text font-semibold max-w-[52ch]">I’m Mariano Villa A.K.A Dot Dager, since 2023 I produce content where I share tips, ideas and opinions related to coding to a Spanish speaking audience, all mixed with subtle touches of <span class="text-primary italic">philosophy</span> and (a not so subtle) <span class="text-primary italic">sense of humor</span>.</p>
				<div class="flex gap-2">
					<Cta anchor="https://www.youtube.com/@DotDager" text="Watch me on Youtube"/>
					<Cta anchor="https://discord.gg/YXDvJVne" text="Join my Discord community"/>
				</div>
			</div>
		</section>
		<section>
			<h2 class="mb-6 text-4xl text-text text-center font-bold">Jack of all trades</h2>
			<div class="grid grid-cols-2 justify-between gap-6">
				<div class="relative">
					<img class="block w-full h-full object-cover max-h-[300px] rounded-lg" src="./ada13.webp" alt="Dager speaking with his co-host Lucas Dalto on the ada13 podcast">
					<div class="absolute bottom-0 p-2 bg-text/50 rounded-b-lg">
						<h3 class="text-3xl text-white font-bold">Podcast co-host</h3>
						<p class="text-white font-semibold">With Lucas Dalto and our team, in 2023 we hosted ADA13, a podcast where we  give our two cents about diverse tech topics</p>
					</div>
				</div>
				<div class="relative">
					<img class="block w-full h-full object-cover max-h-[300px] rounded-lg" src="./gato-pc.webp" alt="A cat taking a nap over a pc keyboard">
					<div class="absolute bottom-0 p-2 bg-text/50 rounded-b-lg">
						<h3 class="text-3xl text-white font-bold">Developer</h3>
						<p class="text-white font-semibold">Since 2016 I have been wokring as a full-stack freelancer and general IT consulting , especially around optimization and automation of processes.</p>
					</div>
				</div>
			</div>
		</section>
		<section>
			<h2 class="mb-4 text-4xl text-text font-bold">Experience</h2>
			<ul class="space-y-6">
				<li class="flex justify-between items-center">
					<div>
						<h3 class="text-2xl text-text font-bold">Full-stack Developer.</h3>
						<h4 class="text-xl text-text font-bold">University of Nebraska-Lincoln - United States</h4>
					</div>
					<div>
						<p class="text-lg text-text font-semibold">2020 - Present</p>
						<p class="text-lg text-text font-semibold">Remote</p>
					</div>
				</li>
				<li class="flex justify-between items-center">
					<div>
						<h3 class="text-2xl text-text font-bold">Software Developer.</h3>
						<h4 class="text-xl text-text font-bold">Grupo alpha 2000 - Argentina</h4>
					</div>
					<div>
						<p class="text-lg text-text font-semibold">2018 - Present</p>
						<p class="text-lg text-text font-semibold">Remote</p>
					</div>
				</li>
				<li class="flex justify-between items-center">
					<div>
						<h3 class="text-2xl text-text font-bold">Content Creator.</h3>
						<h4 class="text-xl text-text font-bold">Social Media</h4>
					</div>
					<div>
						<p class="text-lg text-text font-semibold">2022 - Present</p>
						<p class="text-lg text-text font-semibold">Remote</p>
					</div>
				</li>
			</ul>
		</section>
		<section id="contact" class="py-64 bg-primary relative left-1/2 -translate-x-1/2 w-screen mx-auto">
			<div class="mx-[239px]">
				<h2 class="text-4xl text-center text-white font-bold">Lets work together</h2>
				<p class="text-4xl text-center text-white font-bold">For serious business inquiries, contact me at TuTuRrItOooh_d_MtD2011@hotmail.com</p>
			</div>

		</section>
	</main>
</Layout>

