<footer class="relative left-1/2  py-4 -translate-x-1/2 w-screen mx-auto bg-primary">
    <div class="flex justify-between items-center mx-[239px]">
        <img src="./logo-2.svg" alt="logo Dot Dager"/>
        <img src="./Blob.svg" alt="logo Dot Dager">
        <ul class="flex items-center gap-2">
            <li><a href="https://www.youtube.com/@DotDager"><i class="text-white fa-brands fa-youtube fa-xl hover:text-text transition-colors"></i></a></li>
            <li><a href="https://www.twitch.tv/dagerxiv"><i class="text-white fa-brands fa-twitch fa-xl hover:text-text transition-colors"></i></a></li>
            <li><a href="https://www.instagram.com/dager.32/"><i class="text-white fa-brands fa-instagram fa-xl hover:text-text transition-colors"></i></a></li>
            <li><a href="https://www.linkedin.com/in/mariano-luis-villa/?locale=es_ES"><i class="text-white fa-brands fa-linkedin fa-xl hover:text-text transition-colors"></i></a></li>
        </ul>
    </div>

</footer>