

<header class="flex justify-between items-center py-4">
    <img src="./logo-1.svg" alt="logo Dot Dager"/>
    <ul class="flex items-center gap-2">
        <li><a class="transition-colors" href="https://www.youtube.com/@DotDager"><i class="text-text fa-brands fa-youtube hover:text-secondary transition-colors fa-xl"></i></a></li>
        <li><a class="transition-colors" href="https://www.twitch.tv/dagerxiv"><i class="text-text fa-brands fa-twitch fa-xl hover:text-secondary transition-colors"></i></a></li>
        <li><a class="transition-colors" href="https://www.instagram.com/dager.32/"><i class="text-text fa-brands fa-instagram fa-xl hover:text-secondary transition-colors"></i></a></li>
        <li><a class="transition-colors" href="https://www.linkedin.com/in/mariano-luis-villa/?locale=es_ES"><i class="text-text fa-brands fa-linkedin fa-xl hover:text-secondary transition-colors"></i></a></li>
    </ul>
</header>

